.tag {
    display: flex;
    width: fit-content;
}

.tag__text {
    background-color: var(--secondary);
    color: var(--secondary-foreground);
    border-width: 2px;
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
    padding: 0 var(--padding-sm) 0 var(--padding-sm);
    font-size: var(--text-sm);
    font-weight: 500;
}

.tag__empty-text {
    padding-left: var(--padding-sm);
    border-radius: var(--radius-md) 0 0 var(--radius-md);
    border-width: 2px;
}
